*{
    font-family: inter;
}

@font-face {
  font-family: 'minecraft';
  src: url('../font/minecraft.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*, *::before, *::after {
    box-sizing: border-box; 
}

::-webkit-scrollbar{
  width: 0px;
} 

body{
    background-color: #555;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.main-container{
    height: 100%;
    width: auto;
}

/*------GAME FIELD-------*/
.game-container{
    height: 100%;
    width: 100%;
    grid-column: start-col / end-col;
    grid-row: start-row / game-field;
}

.game-field{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 0.5fr [game-col]);
    grid-template-rows: repeat(5, 0.5fr [game-row]);
}   


#gameCanvas{
    grid-column: 1 / -1; /*For all cols*/
    grid-row: 1 / -1; /*For all rows*/
    height: 100%;
    width: 100%;
    z-index: 100;
    image-rendering: pixelated;
    background-color: #474747;
}




/* ------CONSOLE FIELD-------*/
.console-field{
    position: fixed;
    top: 800px;
    left: 520px;
    width: 800px;
    height: 150px;
    z-index: 101;
}

.console-text{
    position: relative;
    resize: none;
    height: 100% ;
    width: 100% ;
    border: 10px solid transparent;
    border-image: url("../items/banner/Console-baner.png") 20 round;
    background-color: transparent;
    z-index: 101;
    color: #0b8800;
    font-size: medium;
    font-family: 'minecraft';
}

.text-bg{
    position: fixed;
    top: 807px;
    left: 528px;
    width: 785px;
    height: 135px;
    background-color: #000;
    z-index: 100;

}

.console-text:focus{
    outline: none;
    outline-offset: 0;
}

.console-text[type = "text"]{
    text-align: start;
}